<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8"/>
<title sec:authentication="name">Home Page</title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
<style type="text/css">
	body {
		padding-top: 50px;
	}
	.starter-template {
		padding: 40px 15px;
		text-align: center;
	}
</style>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">Spring Security Example</a>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li><a th:href="@{/}">Home</a></li>
			</ul>
		</div>
	</div>
</nav>
<div class="container">
	<h1 th:text="${msg.title}"></h1>
	<p class="bg-primary" th:text="${msg.content}"></p>
	<div sec:authorize="hasRole('ROLE_ADMIN')">
		<p class="bg-info" th:text="${msg.extraInfo}"></p>
		<p class="navbar-brand"><a th:href="@{/resources/admin}">view admin</a></p>/
		<p class="navbar-brand"><a th:href="@{/resources/principal}">view principal</a></p>/
		<p class="navbar-brand"><a th:href="@{/resources/roles}">view user roles</a></p>		
	</div>
	<div sec:authorize="hasRole('ROLE_USER')">
		<p class="bg-info">No more information to show!</p>
		<p class="navbar-brand"><a th:href="@{/resources/user}">view user</a></p>/
		<p class="navbar-brand"><a th:href="@{/resources/principal}">view principal</a></p>/
		<p class="navbar-brand"><a th:href="@{/resources/roles}">view user roles</a></p>
	</div>
	<form th:action="@{/logout}" method="POST">
		<input type="submit" class="btn btn-primary" value="logout" />
	</form>
</div>
</body>
</html>